.side-content
  .side-content__header
    %h5
      = "group-name"
    .side-content__header__icon
      = link_to "https://www.facebook.com/",class: "side-content__header__icon" do
        = fa_icon "pencil-square-o"
    