.main-content
  .main-content__header
    .main-content__header__name
      %h2
        ="group-name"
      %h3
        ="group-member"
    .main-content__header__edit-btn
      = link_to "Edit","https://www.facebook.com/", class: 'main-content__header__edit-btn-edit__edit'
  .main-content__chat-parts

  .main-content__footer