.side-content {
  width: 300px;
  height: 100vh;
  background-color: #2f3e51;
  float: left;


  &__header {
    padding:  0 20px;
    height: 100px;
    background-color: #253141;

    h5 {
      color:#ffffff;
      font-size: 16px;
      font-weight: bold;
      line-height: 100px;
      letter-spacing: 2px;
      float: left;
    }

    &__icon {

      i{
        color:#ffffff;
        font-size: 20px;
        line-height: 100px;
        letter-spacing: 6px;
        float: right;
      }
    }
  }

  &__group-contents{
    padding: 20px 20px 40px;
    height:31px;
    color:#ffffff;
    font-weight: bold;
    letter-spacing: 2px;
    display: block;

    &__name {
      font-size: 15px;
      padding-bottom: 5px;
    }

    &__message {
      font-size: 11px;
    }
  }
}
.main-content{
  width: calc(100vw - 300px);
  height: 100vh;
  background-color: #f5f5f5;
  float: right;

  &__header {
    padding: 0px 40px;
    height: 100px;
    background-color: white;

    &__name {
      float: left;
      h2 {
        padding: 30px 0 10px;
        font-size: 20px;
        letter-spacing: 2px;
        color: #333333;
      }

      h3 {
        padding-bottom: 15px;
        font-size: 12px;
        color: #999999;
        float: left;
      }
    }

    &__edit-btn {
      display: inline-block;
      margin: 28px 0;
      padding: 0 20px;
      line-height: 40px;
      color: lightblue;
      font-size: 14px;
      border: 2px solid;
      text-align: center;
      float: right;

      &__edit {
        text-decoration: none;
        color: lightblue;
      }
    }
  }
  &__chat-parts {
    padding: 46px 40px 40px;
    height: calc(100vh - 275px);
    background-color: #fafafa;

      &__name {
        display: inline-block;
        margin-bottom: 10px;
        font-size: 16px;
        font-weight: bold;
        color: #434a54;
        float: left;
      }

      &__time {
        display: inline-block;
        margin-left: 10px;
        font-size: 12px;
        color: #999999;
        float: left;

      }

      &__message {
        font-size: 14px;
        color: #434a54;
        float: left;
        clear: both;
      }
    }

  &__footer{
    padding: 20px 40px;
    bottom: 0;
    width: calc(100vw - 380px);
    height: 50px;
    background-color: lightgray;
  }  
}

.messageform{
  &__textandicon {
    padding:0px 0px;
    width: 890px;
    height: 50px;
    line-height: 50px;
    background-color: white;
    font-size: 16px;
    position: relative;/*親要素を固定*/
    &:focus::placeholder{
      color:white;
    }
  
    &--text{
      padding:0px 10px;
      border:solid 0px;
      width: 100%;
      height: 100%;
    }


    &--icon {
      font-size: 20px;
      text-align: center;
      line-height: 50px;
      background-color: white;
      float: left;
      display: none;
      position: absolute;
      top: 20px;
      right: 10px;
    }

    &--file {
      display: none;
    }
  }

  &__textandicon--send {
    display: inline;
    width: 100px;
    background-color:#38aef0;
    line-height: 50px;
    color: lightblue;
    font-size: 16px;
    border: none;
    text-align: center;
    text-decoration: none;
    color: white;
    position: absolute;
    bottom: -5px;
    right: 70px;

    }
}